<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tinyblog">

    <!-- 所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".sys.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NewPostActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PostDetailsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TagsCloudActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CurPostsListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PostCommentActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            tools:targetApi="cupcake" />
        <activity
            android:name=".activity.PersonResumeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SupportActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ZhihuPostsListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ZhihuPostDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CollectPostListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GithubTrendingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.WebActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>